@model LetsDonateStuff.Models.LogOnModel
@{
    ViewBag.Title = ViewBag.Heading = "Log On";
}

@section Head {
     <script type="text/javascript">
         $(function () {
             openid.init('openid_username');
         });
    </script>
}

<div class="row">
<div class="span12">

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { id="openid_form" }))
{
    <input type="hidden" name="action" value="verify" />
    @Html.HiddenFor(m => m.returnUrl);
    <div>
        <fieldset>
            <div class="openid_choice">
                <p>Please click your account provider:</p>
                <div id="openid_btns"></div>
            </div>
                  <div id="openid_input_area">
                @Html.TextBoxFor(m=>m.openid_username)
            </div>
            <noscript>
                <p>
                    OpenID is service that allows you to log-on to many different websites using a single
                    indentity. Find out <a href="http://openid.net/what/">more about OpenID</a> and
                    <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.
               </p>
            </noscript>
            <div id="remember_me">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RememberMe)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.RememberMe)
                </div>
            </div>
        </fieldset>
    </div>
}
</div>
</div>