@model IEnumerable<LetsDonateStuff.DAL.PostedItem>
@using PagedList.Mvc
@using PagedList

@if (!Model.Any())
{
   @Html.Partial("_NoDonationsYet")
}
else
{
    <ol class="slats">
    @foreach (var item in Model)
    {
        string stateClass = item.Deleted ? "deleted" :
                                           (item.Approved ? 
                                                (item.Expired ? "expired" : "approved") :
                                                "confirmed");  
        
        bool donation = item is LetsDonateStuff.DAL.Donation;
        string typeClass = donation ? "offer" : "need";
        
        <li id='item-@item.Id' class='@stateClass @typeClass'>            
            @if (donation) {   
                @ViewHelpers.ShowImage(this, item)
            }
            <h3><a href="@Url.Action("Details", new { id = item.Id, slug = item.Slug })">@(donation?"Offer: ":"Need: ")@item.Title.TrimWithEllipsis(50)</a></h3>
            <p>@item.Description.TrimWithEllipsis(100)</p>
            <span class="meta">@item.PostedOn.ToLocalTime().ToShortDateString()</span> 
            <span><a href="@Url.Action("Details", new { id = item.Id, slug = item.Slug })" class="needthis">View</a></span>            
        </li>
    }
    </ol>
    <script type="text/javascript">
        function SelectRow(id) {
            $('#item-' + id).scrollintoview().effect("highlight", {}, 3000);
        }
    </script>

    var pages  = (IPagedList)ViewBag.Pages;
    if (pages.PageCount > 1)
    {
        @Html.PagedListPager((IPagedList)ViewBag.Pages,
                    pageNo => Url.Action("Index", new { p = pageNo, q = ViewBag.Query, c = ViewBag.Country }),
                    new PagedListRenderOptions()
                    {
                        MaximumPageNumbersToDisplay = 5,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
                        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                        ContainerDivClasses = new[] { "PagedList-pager" }
                    });
    }
}
