@model LetsDonateStuff.DAL.Donation
@{
    string detailsLink = Url.SiteUrl() + Url.Action("Details", "Post", new { id = Model.Id });     
}
For details please visit <a href="@detailsLink">@detailsLink</a><br />
<br />
Offer:<br />
@Model.Title<br />
<br />
Posted by:<br />
@Model.Name<br />
<br />
Condition:<br />
@Model.Condition.ToString()<br />
<br />
Note: You can contact the offerer through the site. Please do not reply to this email.